<template>
<q-layout class="margin">
  <q-page class="flex">
<div class="container">
<div class="row">
<div class="col-lg-12">
<p>Accounting</p>
<div class="row">
  <div class="col-lg-3">
    <q-input float-label="Value" placeholder="0"/>
  </div>
  <div class="col-lg-3">
    <q-input float-label="Value" placeholder="0"/>
  </div>
  <div class="col-lg-3">
    <q-input float-label="Value" placeholder="0"/>
  </div>
  <div class="col-lg-3">
    <q-input float-label="Value" placeholder="0"/>
  </div>
</div>
</div>
</div>
</div>
</q-page>
</q-layout>
</template>

<style>
.margin {margin: 10px;}
</style>

<script>
export default {
  name: 'accounting'
}
</script>
