<template>
  <q-layout>
    <q-modal v-model="opened">
      <h4>Basic Modal</h4>
        <div class="container" style="margin: 20px;"><!-- Start Container -->
            <div class="row studinfo-row">
              <div class="col-lg-12">
              <q-layout-header v-model="header">STUDENT INFORMATION</q-layout-header>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <q-input v-model="form.first_name" float-label="First Name" placeholder="first name"/>
                </div>
              <div class="col-lg-3">
                <q-input v-model="form.last_name" float-label="Last Name" placeholder="last name"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.middle_name" float-label="Middle Name" placeholder="middle name"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.age" float-label="Age" placeholder="age"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.address" float-label="Address" placeholder="address"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.advicer" float-label="Advicer" placeholder="advicer"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.department" float-label="Department" placeholder="department"/>
              </div>
              <div class="col-lg-3">
                <q-input v-model="form.level" float-label="Level" placeholder="level"/>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <div class="studinfo-btn">
                    <q-btn color="primary" icon="clear" @click="clear" label="Clear" />
                    <q-btn color="primary" icon="create" @click="save" label="Save" />
                    <q-btn color="primary" icon="create" @click="updateData" label="Update" />
                    <q-btn color="primary" @click="opened = false" label="Close" />
                  </div>
                </div>
              </div>
            </div>
        </div><!-- End Container -->
    </q-modal>
  <div class="top-btn" style="margin: 10px;"><q-btn color="primary" @click="opened = true" label="Add" /></div>
  <div class="container" style="margin: 10px;">
  <div class="row">
    <q-table
      title="List of Students"
      :data="tableData"
      :columns="columns"
      row-key="name"
    >
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td key="first_name" :props="props">{{ props.row.first_name }}</q-td>
        <q-td key="last_name" :props="props">{{ props.row.last_name }}</q-td>
        <q-td key="middle_name" :props="props">{{ props.row.middle_name }}</q-td>
        <q-td key="age" :props="props">{{ props.row.age }}</q-td>
        <q-td key="address" :props="props">{{ props.row.address }}</q-td>
        <q-td key="advicer" :props="props">{{ props.row.advicer }}</q-td>
        <q-td key="department" :props="props">{{ props.row.department }}</q-td>
        <q-td key="level" :props="props">{{ props.row.level }}</q-td>
        <q-td key="edit" :props="props">
          <div class="row items-center justify-between no-wrap">
            <q-btn size="sm" color="secondary" icon="edit" @click="showStudent(props)" class="q-mr-xs" />
            <q-tooltip>Edit {{ props.row.first_name }} ?</q-tooltip>
          </div>
        </q-td>
        <q-td key="delete" :props="props">
          <div class="row items-center justify-between no-wrap">
            <q-btn size="sm" color="secondary" icon="delete" @click="deleteStudent(props.row.id)" class="q-mr-xs" />
            <q-tooltip>Delete {{ props.row.first_name }} ?</q-tooltip>
          </div>
        </q-td>
      </q-tr>
    </q-table>
  </div>
  </div>
  </q-layout>
</template>
<style>
.studinfo-row .col-3 {padding: 5px;}
.studinfo-btn {
    float: right;
    margin-top: 10px;
}
header.q-layout-header.q-layout-marginal.q-layout-transition.absolute-top {
    padding: 25px;
    position: inherit;
}
.studinfo-btn button {
    margin: 2px;
    color: #fff;
}
</style>

<script>
// import tableData from 'assets/table-data'
import columns from 'assets/columns-field'
import student from '../service/students'
export default {
  created () {
    let self = this
    self.list()
  },
  data () {
    return {
      opened: false,
      tableData: [],
      columns,
      header: '',
      form: {
        first_name: '',
        last_name: '',
        middle_name: '',
        age: '',
        address: '',
        advicer: '',
        department: '',
        level: ''
      },
      studentID: ''
    }
  },
  methods: {
    save () {
      console.log('this.form', this.form)
      let self = this
      student.create(this.form)
        .then((respond) => {
          console.log('data', respond)
          self.list()
        })
        .then((respond) => {
          console.log('clear text box')
          this.form = {
            first_name: '',
            last_name: '',
            middle_name: '',
            age: '',
            address: '',
            advicer: '',
            department: '',
            level: ''
          }
        })
        .catch((error) => {
          console.log('error', error)
        })
    },
    updateData () {
      student.update(this.form, this.studentID)
        .then((respond) => {
          console.log('data', respond)
          this.list()
        })
        .then((respond) => {
          this.form = {
            first_name: '',
            last_name: '',
            middle_name: '',
            age: '',
            address: '',
            advicer: '',
            department: '',
            level: ''
          }
        })
    },
    clear () {
      console.log('clear')
      this.form = {
        first_name: '',
        last_name: '',
        middle_name: '',
        age: '',
        address: '',
        advicer: '',
        department: '',
        level: ''
      }
    },
    list () {
      let self = this
      student.get('')
        .then((respond) => {
          console.log('data', respond)
          self.tableData = respond.data
        })
    },
    showStudent (props) {
      this.opened = true
      let getData = props.row
      this.form = {
        first_name: getData.first_name,
        last_name: getData.last_name,
        middle_name: getData.middle_name,
        age: getData.age,
        address: getData.address,
        advicer: getData.advicer,
        department: getData.department,
        level: getData.level
      }
      this.studentID = getData.id
      console.log('props', props)
    },
    deleteStudent (id) {
      let self = this
      student.delete(id)
        .then((respond) => {
          console.log('data', respond)
          self.list()
        })
        .catch((error) => {
          console.log('error', error)
        })
    }
  }
}
</script>
