<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Learning Relationship Management
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>School Name</q-list-header>
        <q-item to="dashboard">
          <q-item-side icon="chat" />
          <q-item-main label="Dashboard" sublabel="Main Page" />
        </q-item>
        <q-item to="student">
          <q-item-side icon="record_voice_over" />
          <q-item-main label="Student" sublabel="information" />
        </q-item>
        <q-item to="courses">
          <q-item-side icon="school" />
          <q-item-main label="Courses" sublabel="On list" />
        </q-item>
        <q-item to="test">
          <q-item-side icon="code" />
          <q-item-main label="Tab3" sublabel="empty tab" />
        </q-item>
        <q-item to="logout">
          <q-item-side icon="rss feed" />
          <q-item-main label="Logout" sublabel="" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
